<% content_for :page_title, "Edit Finance Transaction" %>

<div class="min-w-0 space-y-4 sm:space-y-6">
  <%= render "shared/page_header", eyebrow: "Finance", title: "Edit Transaction", subtitle: @finance_transaction.finance_category.name %>
  <%= render "form", finance_transaction: @finance_transaction %>
</div>
