<% profile = local_assigns[:profile] || local_assigns[:user]&.member_profile %>
<% message = local_assigns[:message] %>

<% if profile&.mobile_number.present? %>
  <div class="flex flex-wrap gap-2">
    <% if whatsapp_url_for(profile, message: message).present? %>
      <%= link_to whatsapp_url_for(profile, message: message), target: "_blank", rel: "noopener", class: action_button_classes(:success, size: :xs) do %>
        <%= icon_svg(:chat, classes: "h-3.5 w-3.5") %>
        <span>WhatsApp</span>
      <% end %>
    <% end %>
  </div>
<% end %>
